h2{
    text-align: center;
}
.why-choose-us{
    background-color: rgba(22, 221, 137, 0.99);
    padding: 2em;
}
.choose-us-details{
    font-size: 20px;
    font-weight: 400;
}
.choose-us-flex{
    display: flex;
    margin: 2em 0;
    justify-content: center;
    gap: 2em;
}
.choose-us-details-image{
    width: 100px;
    margin: 0 auto;
}
.choose-us-details-image >img {
    width: 100%;
}